doctype html

html
  head
    base(href="/")
    title= title

    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
  for file in css
    link(rel="stylesheet" type="text/css" href=file.path media=file.media)
  body
    block body

    for file in js
      script(src=`${file.path}` type="text/javascript" async=true)
