doctype html

html
  head
  title= title
  for file in css
    link(rel="stylesheet" type="text/css" href=file.path media=file.media)
  body
    app= `Loading...${__PLATFORM__} ZSÍR KIRÁLY`

    for file in js
      script(src=`${file.path}` type="text/javascript" async=true)
